<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<% if (typeof error != 'undefined'){ %>
                    <h4><i><%= error %></i></h4>
<% } %>

<% if (typeof data != 'undefined'){ %>
                    <h4><i><%= data.Name %></i></h4>
<% } %>

<% if (typeof session != 'undefined'){ %>
                    <h4><i><%= session.user.email %></i></h4>
<% } %>

    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </body>
</html>
