<h3>Login</h3>
<form action="http://localhost:1337/userLogin" method="post">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" name="submit">
</form>