<h3>Register</h3>
<% if (typeof error != 'undefined'){ %>
                    <h4><i><%= error %></i></h4>
<% } %>

<form action="http://localhost:1337/userRegister" method="post">
<input type="text" name="name" placeholder="Name">
	<input type="text" name="phone" placeholder="Phone">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="repassword" placeholder="Re-password">
	<input type="submit" name="submit">
</form>